
.profile {
    display: flex;
    position: relative;
    height: 1000px;
    color: white;
    width: 600px;
    background-size: 100%;
}
.profileInfo{
    width: 80%;
}
.profileHeading{
    text-align: center;
    font-size: 40px;
}
.infos{
    position: absolute;
}
.like{
    width: 24px;
    cursor: pointer;
}
.like + .like{
    margin-left: 24px;
}
.name{
    left: 10px;
    bottom: 500px
}